In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('http://data.gdeltproject.org/gdeltv2/masterfilelist.txt', delimiter=' ', header=None)
df

/var/folders/7b/ktwl248x3bs5nty14smdbq8h0000gn/T/ipykernel_6473/1706048213.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('http://data.gdeltproject.org/gdeltv2/masterfilelist.txt', delimiter=' ', header=None)

,0,1,2
0,150383,297a16b493de7cf6ca809a7cc31d0b93,http://data.gdeltproject.org/gdeltv2/201502182...
1,318084,bb27f78ba45f69a17ea6ed7755e9f8ff,http://data.gdeltproject.org/gdeltv2/201502182...
2,10768507,ea8dde0beb0ba98810a92db068c0ce99,http://data.gdeltproject.org/gdeltv2/201502182...
3,149211,2a91041d7e72b0fc6a629e2ff867b240,http://data.gdeltproject.org/gdeltv2/201502182...
4,339037,dec3f427076b716a8112b9086c342523,http://data.gdeltproject.org/gdeltv2/201502182...
...,...,...,...
814777,78677,46ee2c890182a6ff32633a9ddbdbd38c,http://data.gdeltproject.org/gdeltv2/202301131...
814778,4594260,ddf7833ebe8ecca0a1d6bd8e085b3b2c,http://data.gdeltproject.org/gdeltv2/202301131...
814779,74992,666229ad1eca69681944f884e7c4ec2b,http://data.gdeltproject.org/gdeltv2/202301131...
814780,90013,37d449b5a4e100a5e259c47c7cf8ba9c,http://data.gdeltproject.org/gdeltv2/202301131...
814781,4743718,8a89e2a543a1e0a75fde43932b16e19b,http://data.gdeltproject.org/gdeltv2/202301131...

In [12]:
df = pd.read_csv("/Users/guillaumescotto/TélécomParis/Data/20230112.export.CSV",delimiter ='\t',header=None,low_memory=False)

In [13]:
df

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,1079765918,20220112,202201,2022,2022.0329,NaN,NaN,NaN,NaN,NaN,...,758474,3,"Cedar County, Missouri, United States",US,USMO,37.7334,-93.8669,758474,20230112,https://www.stltoday.com/news/state-and-region...
1,1079765919,20220112,202201,2022,2022.0329,NaN,NaN,NaN,NaN,NaN,...,423587,3,"Houston, Texas, United States",US,USTX,29.7633,-95.3633,1380948,20230112,https://herald-review.com/news/state-and-regio...
2,1079765920,20220112,202201,2022,2022.0329,NaN,NaN,NaN,NaN,NaN,...,758474,3,"Cedar County, Missouri, United States",US,USMO,37.7334,-93.8669,758474,20230112,https://www.stltoday.com/news/state-and-region...
3,1079765921,20220112,202201,2022,2022.0329,JUD,JUDGE,NaN,NaN,NaN,...,351615,3,"Atlanta, Georgia, United States",US,USGA,33.7490,-84.3880,351615,20230112,https://www.chronicleonline.com/news/national/...
4,1079765922,20220112,202201,2022,2022.0329,JUD,JUDGE,NaN,NaN,NaN,...,GA,2,"Georgia, United States",US,USGA,32.9866,-83.6487,GA,20230112,https://www.chronicleonline.com/news/national/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114883,1079939272,20230112,202301,2023,2023.0329,cad,CADDO,NaN,NaN,cad,...,1348410,3,"Texas Department Of Public Safety, Texas, Unit...",US,USTX,30.3263,-97.7242,1348410,20230112,https://www.ktbs.com/news/cpso-other-agencies-...
114884,1079939273,20230112,202301,2023,2023.0329,cad,CADDO,NaN,NaN,cad,...,1369752,3,"Texarkana, Texas, United States",US,USTX,33.4251,-94.0477,1369752,20230112,https://www.ktbs.com/news/cpso-other-agencies-...
114885,1079939274,20230112,202301,2023,2023.0329,fan,FANG,NaN,NaN,fan,...,10529074,4,"Luyang, Shaanxi, China",CH,CH26,34.7550,109.8330,10529074,20230112,https://www.thestar.com.my/news/nation/2023/01...
114886,1079939275,20230112,202301,2023,2023.0329,fan,FANG,NaN,NaN,fan,...,10529074,4,"Luyang, Shaanxi, China",CH,CH26,34.7550,109.8330,10529074,20230112,https://www.thestar.com.my/news/nation/2023/01...
114887,1079939276,20230112,202301,2023,2023.0329,moh,MOHAWK,NaN,NaN,moh,...,-571850,4,"Quebec, Quebec, Canada",CA,CA10,47.5000,-72.0000,-571850,20230112,https://www.timescolonist.com/national-news/of...