In [14]:
import pandas as pd
import zipfile
import shutil
import wget
from pathlib import Path
import glob
pd.set_option('display.max_columns', None)

In [24]:
path = Path('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT.nosync/data/raw')
type = 'export'
files = list(path.glob(f'*translation.{type}.pkl'))
df_mentions = pd.concat([pd.read_pickle(f) for f in files])

In [25]:
#df_mentions = pd.read_pickle('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT.nosync/data/raw/headers_20210101011500.export.pkl')
print(df_mentions.info())
df_mentions.head(100)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3255 entries, 0 to 177
Data columns (total 61 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GlobalEventID          3255 non-null   int64
 1   Day                    3255 non-null   int64
 2   MonthYear              3255 non-null   int64
 3   Year                   3255 non-null   int64
 4   FractionDate           3255 non-null   object
 5   Actor1Code             2826 non-null   object
 6   Actor1Name             2826 non-null   object
 7   Actor1CountryCode      1365 non-null   object
 8   Actor1KnownGroupCode   34 non-null     object
 9   Actor1EthnicCode       10 non-null     object
 10  Actor1Religion1Code    31 non-null     object
 11  Actor1Religion2Code    14 non-null     object
 12  Actor1Type1Code        1677 non-null   object
 13  Actor1Type2Code        85 non-null     object
 14  Actor1Type3Code        7 non-null      object
 15  Actor2Code             1761 non-null   object
 16  Actor2Name             1761 non-null   object
 17  Actor2CountryCode      925 non-null    object
 18  Actor2KnownGroupCode   21 non-null     object
 19  Actor2EthnicCode       13 non-null     object
 20  Actor2Religion1Code    22 non-null     object
 21  Actor2Religion2Code    4 non-null      object
 22  Actor2Type1Code        946 non-null    object
 23  Actor2Type2Code        40 non-null     object
 24  Actor2Type3Code        7 non-null      object
 25  IsRootEvent            3255 non-null   int64
 26  EventCode              3255 non-null   int64
 27  EventBaseCode          3255 non-null   int64
 28  EventRootCode          3255 non-null   int64
 29  QuadClass              3255 non-null   int64
 30  GoldsteinScale         3255 non-null   float64
 31  NumMentions            3255 non-null   int64
 32  NumSources             3255 non-null   int64
 33  NumArticles            3255 non-null   int64
 34  AvgTone                3255 non-null   float64
 35  Actor1Geo_Type         3255 non-null   int64
 36  Actor1Geo_FullName     2632 non-null   object
 37  Actor1Geo_CountryCode  2632 non-null   object
 38  Actor1Geo_ADM1Code     2632 non-null   object
 39  Actor1Geo_ADM2Code     1278 non-null   object
 40  Actor1Geo_Lat          2632 non-null   float64
 41  Actor1Geo_Long         2632 non-null   float64
 42  Actor1Geo_FeatureID    2632 non-null   object
 43  Actor2Geo_Type         3255 non-null   int64
 44  Actor2Geo_FullName     1643 non-null   object
 45  Actor2Geo_CountryCode  1643 non-null   object
 46  Actor2Geo_ADM1Code     1643 non-null   object
 47  Actor2Geo_ADM2Code     787 non-null    object
 48  Actor2Geo_Lat          1643 non-null   float64
 49  Actor2Geo_Long         1643 non-null   float64
 50  Actor2Geo_FeatureID    1643 non-null   object
 51  ActionGeo_Type         3255 non-null   int64
 52  ActionGeo_FullName     3030 non-null   object
 53  ActionGeo_CountryCode  3030 non-null   object
 54  ActionGeo_ADM1Code     3030 non-null   object
 55  ActionGeo_ADM2Code     1419 non-null   object
 56  ActionGeo_Lat          3030 non-null   float64
 57  ActionGeo_Long         3030 non-null   float64
 58  ActionGeo_FeatureID    3030 non-null   object
 59  DATEADDED              3255 non-null   int64
 60  SOURCEURL              3255 non-null   object
dtypes: float64(8), int64(16), object(37)
memory usage: 1.5+ MB
None

,GlobalEventID,Day,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,Actor1Religion1Code,Actor1Religion2Code,Actor1Type1Code,Actor1Type2Code,Actor1Type3Code,Actor2Code,Actor2Name,Actor2CountryCode,Actor2KnownGroupCode,Actor2EthnicCode,Actor2Religion1Code,Actor2Religion2Code,Actor2Type1Code,Actor2Type2Code,Actor2Type3Code,IsRootEvent,EventCode,EventBaseCode,EventRootCode,QuadClass,GoldsteinScale,NumMentions,NumSources,NumArticles,AvgTone,Actor1Geo_Type,Actor1Geo_FullName,Actor1Geo_CountryCode,Actor1Geo_ADM1Code,Actor1Geo_ADM2Code,Actor1Geo_Lat,Actor1Geo_Long,Actor1Geo_FeatureID,Actor2Geo_Type,Actor2Geo_FullName,Actor2Geo_CountryCode,Actor2Geo_ADM1Code,Actor2Geo_ADM2Code,Actor2Geo_Lat,Actor2Geo_Long,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,962238889,20200102,202001,2020,2020.0055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITA,ITALIAN,ITA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,10,1,10,0.772201,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Italy,IT,IT,NaN,42.833333,12.833333,IT,1,Italy,IT,IT,NaN,42.833333,12.833333,IT,20210101030000,https://gazzettadimantova.gelocal.it/tempo-lib...
1,962238890,20201231,202012,2020,2020.9890,GOV,GOVERNMENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,160,160,16,4,-4.0,10,1,10,2.040816,1,Dominican Republic,DR,DR,NaN,19.000000,-70.666667,DR,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Dominican Republic,DR,DR,NaN,19.000000,-70.666667,DR,20210101030000,https://www.tvn-2.com/mundo/caribe/Republica-D...
2,962238891,20201231,202012,2020,2020.9890,GOV,GOVERNMENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,172,172,17,4,-5.0,10,1,10,2.040816,1,Dominican Republic,DR,DR,NaN,19.000000,-70.666667,DR,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Dominican Republic,DR,DR,NaN,19.000000,-70.666667,DR,20210101030000,https://www.tvn-2.com/mundo/caribe/Republica-D...
3,962238892,20210101,202101,2021,2021.0027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AZE,AZERBAIJANI,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,60,60,6,2,6.0,16,2,16,-1.650165,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Azerbaijan,AJ,AJ,NaN,40.500000,47.500000,AJ,1,Azerbaijan,AJ,AJ,NaN,40.500000,47.500000,AJ,20210101030000,https://centralasia.media/news:1672362
4,962238893,20210101,202101,2021,2021.0027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOL,SANTA CRUZ,BOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,10,1,10,-0.302115,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Bolivia,BL,BL,NaN,-17.000000,-65.000000,BL,1,Bolivia,BL,BL,NaN,-17.000000,-65.000000,BL,20210101030000,https://larepublica.pe/mundo/2020/12/31/ops-do...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,962238984,20210101,202101,2021,2021.0027,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,10,1,10,1.654412,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.615600,-2960561,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.615600,-2960561,20210101030000,http://lratvakan.com/news/935581.html
96,962238985,20210101,202101,2021,2021.0027,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,57,57,5,1,8.0,10,1,10,4.316547,2,"New York, United States",US,USNY,NaN,42.149700,-74.938400,NY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"New York, United States",US,USNY,NaN,42.149700,-74.938400,NY,20210101030000,https://nr2.com.ua/ekonomika/2021/01/01/mejdy-...
97,962238986,20210101,202101,2021,2021.0027,GOV,MINISTRY,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,57,57,5,1,8.0,10,1,10,-0.569260,1,Ukraine,UP,UP,NaN,49.000000,32.000000,UP,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Ukraine,UP,UP,NaN,49.000000,32.000000,UP,20210101030000,https://nr2.com.ua/politika/2021/01/01/v-moz-r...
98,962238987,20210101,202101,2021,2021.0027,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,100,100,10,3,-5.0,16,2,16,-3.755708,1,Turkey,TU,TU,NaN,39.059012,34.911546,TU,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Syria,SY,SY,NaN,35.000000,38.000000,SY,20210101030000,https://nr2.com.ua/politika/2021/01/01/govorit...
99,962238988,20210101,202101,2021,2021.0027,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,100,100,10,3,-5.0,4,2,4,-3.755708,1,Turkey,TU,TU,NaN,39.059012,34.911546,TU,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Turkey,TU,TU,NaN,39.059012,34.911546,TU,20210101030000,https://nr2.com.ua/politika/2021/01/01/govorit...

In [6]:
df_mentions.columns

Index(['GlobalEventID', 'Day', 'MonthYear', 'Year', 'FractionDate',
       'Actor1Code', 'Actor1Name', 'Actor1CountryCode', 'Actor1KnownGroupCode',
       'Actor1EthnicCode', 'Actor1Religion1Code', 'Actor1Religion2Code',
       'Actor1Type1Code', 'Actor1Type2Code', 'Actor1Type3Code', 'Actor2Code',
       'Actor2Name', 'Actor2CountryCode', 'Actor2KnownGroupCode',
       'Actor2EthnicCode', 'Actor2Religion1Code', 'Actor2Religion2Code',
       'Actor2Type1Code', 'Actor2Type2Code', 'Actor2Type3Code', 'IsRootEvent',
       'EventCode', 'EventBaseCode', 'EventRootCode', 'QuadClass',
       'GoldsteinScale', 'NumMentions', 'NumSources', 'NumArticles', 'AvgTone',
       'Actor1Geo_Type', 'Actor1Geo_FullName', 'Actor1Geo_CountryCode',
       'Actor1Geo_ADM1Code', 'Actor1Geo_ADM2Code', 'Actor1Geo_Lat',
       'Actor1Geo_Long', 'Actor1Geo_FeatureID', 'Actor2Geo_Type',
       'Actor2Geo_FullName', 'Actor2Geo_CountryCode', 'Actor2Geo_ADM1Code',
       'Actor2Geo_ADM2Code', 'Actor2Geo_Lat', 'Actor2Geo_Long',
       'Actor2Geo_FeatureID', 'ActionGeo_Type', 'ActionGeo_FullName',
       'ActionGeo_CountryCode', 'ActionGeo_ADM1Code', 'ActionGeo_ADM2Code',
       'ActionGeo_Lat', 'ActionGeo_Long', 'ActionGeo_FeatureID', 'DATEADDED',
       'SOURCEURL'],
      dtype='object')

In [ ]:
{'GlobalEventID':'object', 'Day':'object', 'MonthYear':'object', 'Year':'object','FractionDate': 'object','IsRootEvent':'object','EventCode':'object', 'EventBaseCode':'object', 'EventRootCode':'object', 'QuadClass':'object','Actor1Geo_Type':'object','Actor2Geo_Type':'object','ActionGeo_Type':'object'}

In [2]:
df = pd.read_csv('http://data.gdeltproject.org/gdeltv2/masterfilelist.txt', delimiter=' ', header=None)

/var/folders/h9/3f0fc1qs2t3943x127_ynxmc0000gn/T/ipykernel_68297/1156648321.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('http://data.gdeltproject.org/gdeltv2/masterfilelist.txt', delimiter=' ', header=None)

In [3]:
df_multil = pd.read_csv('http://data.gdeltproject.org/gdeltv2/masterfilelist-translation.txt', delimiter=' ', header=None)

/var/folders/h9/3f0fc1qs2t3943x127_ynxmc0000gn/T/ipykernel_68297/3569745926.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_multil = pd.read_csv('http://data.gdeltproject.org/gdeltv2/masterfilelist-translation.txt', delimiter=' ', header=None)

In [6]:
extr_dir = '/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/explo/dorian/data'

In [6]:
df

,0,1,2
0,150383,297a16b493de7cf6ca809a7cc31d0b93,http://data.gdeltproject.org/gdeltv2/201502182...
1,318084,bb27f78ba45f69a17ea6ed7755e9f8ff,http://data.gdeltproject.org/gdeltv2/201502182...
2,10768507,ea8dde0beb0ba98810a92db068c0ce99,http://data.gdeltproject.org/gdeltv2/201502182...
3,149211,2a91041d7e72b0fc6a629e2ff867b240,http://data.gdeltproject.org/gdeltv2/201502182...
4,339037,dec3f427076b716a8112b9086c342523,http://data.gdeltproject.org/gdeltv2/201502182...
...,...,...,...
814765,76921,de39e45053d672c57797a840560a448a,http://data.gdeltproject.org/gdeltv2/202301131...
814766,4546104,1eb4972bca285c939c2ae281c009d1c8,http://data.gdeltproject.org/gdeltv2/202301131...
814767,71916,162d09f25a2a358865b0e20ad1b0952a,http://data.gdeltproject.org/gdeltv2/202301131...
814768,99075,1ca636e8d6e47f2394a974d6652a56b3,http://data.gdeltproject.org/gdeltv2/202301131...
814769,4271810,07510cd8f90bdb7a94267976c7a95774,http://data.gdeltproject.org/gdeltv2/202301131...

In [7]:
data = wget.download(df[2][0])
shutil.unpack_archive(data, extr_dir)

In [11]:
with zipfile.ZipFile(data,"r") as zip_ref:
    zip_ref.extractall(extr_dir)

In [7]:
mentions = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT.nosync/data/samples/20150218230000.mentions.CSV', delimiter="\t", )
mentions

,410412347,20150218230000,20150218230000.1,1,dailymaverick.co.za,http://www.dailymaverick.co.za/article/2015-02-19-sona2015-jamming-state-security-agency-steps-forward-blames-low-ranking-operator/,19,-1,4594,4634,1.1,50,6665,-4.4776119402985,Unnamed: 14,Unnamed: 15
0,410412348,20150218230000,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN
1,410412349,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1297,1232,0,10,2576,7.517084,NaN,NaN
2,410412350,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1298,1233,1,20,2576,7.517084,NaN,NaN
3,410412351,20150218230000,20150218230000,1,eastidahonews.com,http://www.eastidahonews.com/2015/02/neil-patr...,1,-1,103,122,1,100,1432,0.000000,NaN,NaN
4,410368256,20150218193000,20150218230000,1,businessinsider.com.au,http://www.businessinsider.com.au/australian-g...,4,1325,-1,1356,0,20,1628,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8456,410414615,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,442,0,20,1994,-3.703704,NaN,NaN
8457,410414616,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,367,0,20,1994,-3.703704,NaN,NaN
8458,410232648,20150218100000,20150218230000,1,suttonguardian.co.uk,http://www.suttonguardian.co.uk/news/national/...,6,1870,-1,1803,1,100,5040,-0.738916,NaN,NaN
8459,410339294,20150218171500,20150218230000,1,edgeboston.com,http://www.edgeboston.com/entertainment/celebr...,2,454,-1,411,1,50,858,6.250000,NaN,NaN
8460,410414617,20150218230000,20150218230000,1,bbg.gov,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...,1,318,-1,345,1,100,1584,-0.411523,NaN,NaN

In [6]:
sample

,410412347,20150218230000,20150218230000.1,1,dailymaverick.co.za,http://www.dailymaverick.co.za/article/2015-02-19-sona2015-jamming-state-security-agency-steps-forward-blames-low-ranking-operator/,19,-1,4594,4634,1.1,50,6665,-4.4776119402985,Unnamed: 14,Unnamed: 15
0,410412348,20150218230000,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN
1,410412349,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1297,1232,0,10,2576,7.517084,NaN,NaN
2,410412350,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1298,1233,1,20,2576,7.517084,NaN,NaN
3,410412351,20150218230000,20150218230000,1,eastidahonews.com,http://www.eastidahonews.com/2015/02/neil-patr...,1,-1,103,122,1,100,1432,0.000000,NaN,NaN
4,410368256,20150218193000,20150218230000,1,businessinsider.com.au,http://www.businessinsider.com.au/australian-g...,4,1325,-1,1356,0,20,1628,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8456,410414615,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,442,0,20,1994,-3.703704,NaN,NaN
8457,410414616,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,367,0,20,1994,-3.703704,NaN,NaN
8458,410232648,20150218100000,20150218230000,1,suttonguardian.co.uk,http://www.suttonguardian.co.uk/news/national/...,6,1870,-1,1803,1,100,5040,-0.738916,NaN,NaN
8459,410339294,20150218171500,20150218230000,1,edgeboston.com,http://www.edgeboston.com/entertainment/celebr...,2,454,-1,411,1,50,858,6.250000,NaN,NaN
8460,410414617,20150218230000,20150218230000,1,bbg.gov,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...,1,318,-1,345,1,100,1584,-0.411523,NaN,NaN

In [13]:
list_header= ['GlobalEventID','Day',	'MonthYear',	'Year',	'FractionDate',	'Actor1Code',	'Actor1Name',	'Actor1CountryCode',	'Actor1KnownGroupCode',	'Actor1EthnicCode',	'Actor1Religion1Code',	'Actor1Religion2Code',	'Actor1Type1Code',	'Actor1Type2Code',	'Actor1Type3Code',	'Actor2Code',	'Actor2Name',	'Actor2CountryCode',	'Actor2KnownGroupCode',	'Actor2EthnicCode',	'Actor2Religion1Code',	'Actor2Religion2Code',	'Actor2Type1Code',	'Actor2Type2Code',	'Actor2Type3Code',	'IsRootEvent',	'EventCode',	'EventBaseCode',	'EventRootCode',	'QuadClass',	'GoldsteinScale',	'NumMentions',	'NumSources',	'NumArticles',	'AvgTone',	'Actor1Geo_Type',	'Actor1Geo_FullName',	'Actor1Geo_CountryCode',	'Actor1Geo_ADM1Code',	'Actor1Geo_ADM2Code',	'Actor1Geo_Lat',	'Actor1Geo_Long',	'Actor1Geo_FeatureID',	'Actor2Geo_Type',	'Actor2Geo_FullName',	'Actor2Geo_CountryCode',	'Actor2Geo_ADM1Code',	'Actor2Geo_ADM2Code',	'Actor2Geo_Lat',	'Actor2Geo_Long',	'Actor2Geo_FeatureID',	'ActionGeo_Type',	'ActionGeo_FullName',	'ActionGeo_CountryCode',	'ActionGeo_ADM1Code',	'ActionGeo_ADM2Code',	'ActionGeo_Lat',	'ActionGeo_Long',	'ActionGeo_FeatureID',	'DATEADDED',	'SOURCEURL']

In [17]:
sample = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/explo/dorian/data/20150218230000.export.CSV', delimiter="\t", header=None)

In [18]:
sample.columns=list_header

In [19]:
sample

,BALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,410412347,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,4,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,20150218230000,http://www.dailymaverick.co.za/article/2015-02...
1,410412348,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.5833,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
2,410412349,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,4,"Great Southern, Victoria, Australia",AS,AS07,5387,-36.0667,146.4830,-1576477,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
3,410412350,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
4,410412351,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,2,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,20150218230000,http://www.eastidahonews.com/2015/02/neil-patr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266,410414613,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2267,410414614,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2268,410414615,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2269,410414616,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2270,410414617,20150218,201502,2015,2015.1315,tib,TIBETAN,NaN,NaN,tib,...,4,"Amdo, Xizang, China",CH,CH14,13213,32.3333,91.6667,-1920650,20150218230000,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...

In [ ]:
sample_multil = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/explo/dorian/data/20150218230000.export.CSV', delimiter="\t", header=None)

In [8]:
df_mentions = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/data/20150218230000.mentions.CSV', delimiter='\t', header=None)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/data/20150218230000.mentions.CSV'

In [12]:
header_mentions = ['GlobalEventID','EventTimeDate','MentionTimeDate','MentionType','MentionSourceName','MentionIdentifier','SentenceID','Actor1CharOffset','Actor2CharOffset','ActionCharOffset','InRawText','Confidence','MentionDocLen','MentionDocTone','MentionDocTranslationInfo','Extras']

In [9]:
df_mentions.columns=header_mentions

In [10]:
df_mentions

,LEVENTID,EventTimeDate,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,SentenceID,Actor1CharOffset,Actor2CharOffset,ActionCharOffset,InRawText,Confidence,MentionDocLen,MentionDocTone,MentionDocTranslationInfo,Extras
0,410412347,20150218230000,20150218230000,1,dailymaverick.co.za,http://www.dailymaverick.co.za/article/2015-02...,19,-1,4594,4634,1,50,6665,-4.477612,NaN,NaN
1,410412348,20150218230000,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN
2,410412349,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1297,1232,0,10,2576,7.517084,NaN,NaN
3,410412350,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1298,1233,1,20,2576,7.517084,NaN,NaN
4,410412351,20150218230000,20150218230000,1,eastidahonews.com,http://www.eastidahonews.com/2015/02/neil-patr...,1,-1,103,122,1,100,1432,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8457,410414615,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,442,0,20,1994,-3.703704,NaN,NaN
8458,410414616,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,367,0,20,1994,-3.703704,NaN,NaN
8459,410232648,20150218100000,20150218230000,1,suttonguardian.co.uk,http://www.suttonguardian.co.uk/news/national/...,6,1870,-1,1803,1,100,5040,-0.738916,NaN,NaN
8460,410339294,20150218171500,20150218230000,1,edgeboston.com,http://www.edgeboston.com/entertainment/celebr...,2,454,-1,411,1,50,858,6.250000,NaN,NaN
8461,410414617,20150218230000,20150218230000,1,bbg.gov,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...,1,318,-1,345,1,100,1584,-0.411523,NaN,NaN

In [16]:
df_gkg = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/data/raw/20190205231500.gkg.csv', delimiter='\t', usecols=header_gkg)

ValueError: Usecols do not match columns, columns expected but not found: ['GKGRecordID', 'SharingImage', 'DocumentIdentifier', 'SocialVideoEmbeds', 'DATE', 'Locations', 'RelatedImages', 'Quotations', 'V2Tone', 'SourceCommonName', 'TranslationInfo', 'Persons', 'AllNames', 'GCAM', 'V2Organizations', 'V2Counts', 'SocialImageEmbeds', 'Counts', 'Themes', 'V2Persons', 'Dates', 'Organizations', 'V2Locations', 'Amounts', 'Extras', 'V2Themes', 'SourceCollectionIdentifier']

In [12]:
df_gkg

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,20190205231500-0,20190205231500,1,streetwisereport.com,http://streetwisereport.com/danaher-corporatio...,NaN,NaN,ECON_STOCKMARKET;CRISISLEX_C07_SAFETY;TAX_FNCA...,"TAX_ECON_PRICE,868;TAX_ECON_PRICE,929;TAX_ECON...",NaN,...,"wc:221,c1.2:5,c1.3:1,c12.1:13,c12.10:25,c12.12...",NaN,NaN,NaN,NaN,NaN,"Danaher Corporation,72","42,attracting passive investors,875;746270,sha...",NaN,<PAGE_AUTHORS>Aaron Smithies</PAGE_AUTHORS>
1,20190205231500-1,20190205231500,1,cranstononline.com,http://cranstononline.com/stories/a-warm-welco...,NaN,NaN,NaN,NaN,"3#Boston, Massachusetts, United States#US#USMA...",...,"wc:504,c12.1:43,c12.10:29,c12.12:12,c12.13:7,c...",https://cdn2.creativecirclemedia.com/warwick/o...,NaN,NaN,https://youtube.com/user/warwickbeacon;,NaN,"State Police,60;Super Bowl,461;Super Bowl,1012...","12,who had staked out,514;6,Super Bowl rings,1...",NaN,NaN
2,20190205231500-2,20190205231500,1,montanakaimin.com,http://www.montanakaimin.com/arts_and_culture/...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CHOREOGRAPHER;TAX_FNCACT...,"AGRICULTURE,650;TAX_FNCACT_FARMER,650;TAX_FNCA...","2#New York, United States#US#USNY#42.1497#-74....",...,"wc:132,c12.1:11,c12.10:20,c12.12:3,c12.13:8,c1...",https://bloximages.newyork1.vip.townnews.com/m...,NaN,NaN,https://youtube.com/channel/UCslhVPsVAO7YkdzOf...,NaN,"Top Hat,87;Sexy Chocolate Show,420;Heather Ada...","10,dollars adv,279;13,dollars adv,848;16,dolla...",NaN,<PAGE_AUTHORS>Montana Kaimin</PAGE_AUTHORS><PA...
3,20190205231500-3,20190205231500,1,richmond-news.com,https://www.richmond-news.com/peladeau-may-be-...,NaN,NaN,WB_678_DIGITAL_GOVERNMENT;WB_694_BROADCAST_AND...,"WB_1104_MACROECONOMIC_VULNERABILITY_AND_DEBT,1...","4#Montreal, Quebec, Canada#CA#CA10#45.5#-73.58...",...,"wc:168,c1.2:2,c1.3:1,c12.1:7,c12.10:15,c12.12:...",https://images.glaciermedia.ca/polopoly_fs/1.2...,NaN,NaN,NaN,NaN,"Teo Taxi,165;Karl Peladeau,252;Teo Tax,636;Teo...","400,drivers have been unemployed,491;25000000,...",NaN,<PAGE_PRECISEPUBTIMESTAMP>20190205105900</PAGE...
4,20190205231500-4,20190205231500,1,wusa9.com,https://www.wusa9.com/article/news/nation-worl...,NaN,NaN,KILL;CRISISLEX_T03_DEAD;ARREST;SOC_GENERALCRIM...,"EDUCATION,816;EDUCATION,874;MANMADE_DISASTER_I...","3#Miami, Florida, United States#US#USFL#25.774...",...,"wc:172,c12.1:6,c12.10:13,c12.12:6,c12.13:6,c12...",https://www.wusa9.com/img/resize/media.wtsp.co...,NaN,NaN,https://youtube.com/iframe_api?noext;,NaN,"Trayvon Martin,15;George Zimmerman,135;Preside...","17,when he was shot,51;2000000,times,880;",NaN,<PAGE_LINKS>https://www.wtsp.com/article/news/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3003,20190205231500-57,20190205231500,1,whdg.com,http://www.whdg.com/news/bebe-rexhas-hoping-to...,NaN,NaN,USPEC_POLITICS_GENERAL1;TAX_FNCACT;TAX_FNCACT_...,"EPU_CATS_REGULATION,760;TAX_FNCACT_ARTIST,581;...","2#Florida, United States#US#USFL#27.8333#-81.7...",...,"wc:128,c1.1:1,c12.1:12,c12.10:7,c12.12:1,c12.1...",NaN,NaN,NaN,https://youtube.com/embed/zDo0H8Fm7d0;https://...,"446|89||We've spoken on text , but hopefully w...","Recording AcademyAfter,39;Florida Georgia Line...",NaN,NaN,<PAGE_LINKS>http://www.people.com/</PAGE_LINKS>
3004,20190205231500-58,20190205231500,1,wearegreenbay.com,https://www.wearegreenbay.com/news/local-news/...,NaN,NaN,NATURAL_DISASTER;NATURAL_DISASTER_WINTER_STORM...,"NATURAL_DISASTER_WINTRY,806;NATURAL_DISASTER_W...","3#Oconto, Wisconsin, United States#US#USWI#44....",...,"wc:259,c12.1:13,c12.10:29,c12.12:11,c12.13:13,...",https://media.wearegreenbay.com/nxsglobal/wear...,NaN,NaN,https://youtube.com/channel/UCvRw8OyWw09DA1ndw...,NaN,"Snow Arrives Tonight,21;Larger System Possible...","5,for the latest winter,1240;5,mobile app,1295;",NaN,<PAGE_AUTHORS>Chad Roethlisberger</PAGE_AUTHOR...
3005,20190205231500-59,20190205231500,1,wickedlocal.com,https://stoneham.wickedlocal.com/news/20190205...,NaN,NaN,LEADER;TAX_FNCACT;TAX_FNCACT_LAWMAKERS;USPEC_P...,"GENERAL_GOVERNMENT,2704;EPU_POLICY_GOVERNMENT,...","3#Boston, Massachusetts, United States#US#USMA...",...,"wc:450,c1.2:4,c12.1:33,c12.10:35,c12.12:10,c12...",https://stoneham.wickedlocal.com/storyimage/WL...,NaN,NaN,NaN,1722|25||strong local media market,"Massachusetts Municipal,170;Lori Ehrlich,430;M...","555,markets,1742;37,states,1753;9,dailies,1768...",NaN,<PAGE_AUTHORS>Katie Lannanswampscott@wickedloc...
3006,20190205231500-60,20190205231500,1,foxrochester.com,https://foxrochester.com/news/nation-world/wat...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_SPEAKER;DEMOCRACY;TAX_FN...,"TAX_FNCACT_SPEAKER,45;TAX_FNCACT_WOMEN,92;TAX_...","3#Washington, Washington, United States#US#USD...",...,"wc:46,c12.1:1,c12.10:4,c12.12:1,c12.14:3,c12.3...",http://static-20.sinclairstoryline.com/resourc...,NaN,NaN,NaN,NaN,"Speaker Nancy Pelosi,39;Democratic Women,75;Wo...",NaN,NaN,<PAGE_AUTHORS>Sinclair Broadcast Group</PAGE_A...
3007,20190205231500-61,20190205231500,1,joker.com,https://joker.com/?mode=order&do_next=landingp...,NaN,NaN,EPU_ECONOMY_HISTORIC;TAX_FNCACT;TAX_FNCACT_REG...,"TAX_FNCACT_REGISTRAR,66;EPU_ECONOMY_HISTORIC,4...",NaN,...,"wc:36,c12.1:6,c12.10:1,c12.14:1,c12.3:3,c12.4:...",NaN,NaN,NaN,NaN,NaN,"About Joker,13",NaN,NaN,NaN

In [13]:
header_gkg = ['GKGRecordID','DATE','SourceCollectionIdentifier','SourceCommonName','DocumentIdentifier','Counts','V2Counts','Themes','V2Themes','Locations','V2Locations','Persons','V2Persons','Organizations','V2Organizations','V2Tone','Dates','GCAM','SharingImage','RelatedImages','SocialImageEmbeds','SocialVideoEmbeds','Quotations','AllNames','Amounts','TranslationInfo','Extras']

In [14]:
df_gkg.columns = header_gkg

In [ ]:
df_gkg.to_string()

In [15]:
pd.reset_option('all')
df_gkg

/Users/dorianfitton/opt/anaconda3/envs/bgd/lib/python3.10/site-packages/pandas/_config/config.py:653: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  warnings.warn(d.msg, FutureWarning)
/Users/dorianfitton/opt/anaconda3/envs/bgd/lib/python3.10/site-packages/pandas/_config/config.py:653: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

,GKGRecordID,DATE,SourceCollectionIdentifier,SourceCommonName,DocumentIdentifier,Counts,V2Counts,Themes,V2Themes,Locations,...,GCAM,SharingImage,RelatedImages,SocialImageEmbeds,SocialVideoEmbeds,Quotations,AllNames,Amounts,TranslationInfo,Extras
0,20190205231500-0,20190205231500,1,streetwisereport.com,http://streetwisereport.com/danaher-corporatio...,NaN,NaN,ECON_STOCKMARKET;CRISISLEX_C07_SAFETY;TAX_FNCA...,"TAX_ECON_PRICE,868;TAX_ECON_PRICE,929;TAX_ECON...",NaN,...,"wc:221,c1.2:5,c1.3:1,c12.1:13,c12.10:25,c12.12...",NaN,NaN,NaN,NaN,NaN,"Danaher Corporation,72","42,attracting passive investors,875;746270,sha...",NaN,<PAGE_AUTHORS>Aaron Smithies</PAGE_AUTHORS>
1,20190205231500-1,20190205231500,1,cranstononline.com,http://cranstononline.com/stories/a-warm-welco...,NaN,NaN,NaN,NaN,"3#Boston, Massachusetts, United States#US#USMA...",...,"wc:504,c12.1:43,c12.10:29,c12.12:12,c12.13:7,c...",https://cdn2.creativecirclemedia.com/warwick/o...,NaN,NaN,https://youtube.com/user/warwickbeacon;,NaN,"State Police,60;Super Bowl,461;Super Bowl,1012...","12,who had staked out,514;6,Super Bowl rings,1...",NaN,NaN
2,20190205231500-2,20190205231500,1,montanakaimin.com,http://www.montanakaimin.com/arts_and_culture/...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CHOREOGRAPHER;TAX_FNCACT...,"AGRICULTURE,650;TAX_FNCACT_FARMER,650;TAX_FNCA...","2#New York, United States#US#USNY#42.1497#-74....",...,"wc:132,c12.1:11,c12.10:20,c12.12:3,c12.13:8,c1...",https://bloximages.newyork1.vip.townnews.com/m...,NaN,NaN,https://youtube.com/channel/UCslhVPsVAO7YkdzOf...,NaN,"Top Hat,87;Sexy Chocolate Show,420;Heather Ada...","10,dollars adv,279;13,dollars adv,848;16,dolla...",NaN,<PAGE_AUTHORS>Montana Kaimin</PAGE_AUTHORS><PA...
3,20190205231500-3,20190205231500,1,richmond-news.com,https://www.richmond-news.com/peladeau-may-be-...,NaN,NaN,WB_678_DIGITAL_GOVERNMENT;WB_694_BROADCAST_AND...,"WB_1104_MACROECONOMIC_VULNERABILITY_AND_DEBT,1...","4#Montreal, Quebec, Canada#CA#CA10#45.5#-73.58...",...,"wc:168,c1.2:2,c1.3:1,c12.1:7,c12.10:15,c12.12:...",https://images.glaciermedia.ca/polopoly_fs/1.2...,NaN,NaN,NaN,NaN,"Teo Taxi,165;Karl Peladeau,252;Teo Tax,636;Teo...","400,drivers have been unemployed,491;25000000,...",NaN,<PAGE_PRECISEPUBTIMESTAMP>20190205105900</PAGE...
4,20190205231500-4,20190205231500,1,wusa9.com,https://www.wusa9.com/article/news/nation-worl...,NaN,NaN,KILL;CRISISLEX_T03_DEAD;ARREST;SOC_GENERALCRIM...,"EDUCATION,816;EDUCATION,874;MANMADE_DISASTER_I...","3#Miami, Florida, United States#US#USFL#25.774...",...,"wc:172,c12.1:6,c12.10:13,c12.12:6,c12.13:6,c12...",https://www.wusa9.com/img/resize/media.wtsp.co...,NaN,NaN,https://youtube.com/iframe_api?noext;,NaN,"Trayvon Martin,15;George Zimmerman,135;Preside...","17,when he was shot,51;2000000,times,880;",NaN,<PAGE_LINKS>https://www.wtsp.com/article/news/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3003,20190205231500-57,20190205231500,1,whdg.com,http://www.whdg.com/news/bebe-rexhas-hoping-to...,NaN,NaN,USPEC_POLITICS_GENERAL1;TAX_FNCACT;TAX_FNCACT_...,"EPU_CATS_REGULATION,760;TAX_FNCACT_ARTIST,581;...","2#Florida, United States#US#USFL#27.8333#-81.7...",...,"wc:128,c1.1:1,c12.1:12,c12.10:7,c12.12:1,c12.1...",NaN,NaN,NaN,https://youtube.com/embed/zDo0H8Fm7d0;https://...,"446|89||We've spoken on text , but hopefully w...","Recording AcademyAfter,39;Florida Georgia Line...",NaN,NaN,<PAGE_LINKS>http://www.people.com/</PAGE_LINKS>
3004,20190205231500-58,20190205231500,1,wearegreenbay.com,https://www.wearegreenbay.com/news/local-news/...,NaN,NaN,NATURAL_DISASTER;NATURAL_DISASTER_WINTER_STORM...,"NATURAL_DISASTER_WINTRY,806;NATURAL_DISASTER_W...","3#Oconto, Wisconsin, United States#US#USWI#44....",...,"wc:259,c12.1:13,c12.10:29,c12.12:11,c12.13:13,...",https://media.wearegreenbay.com/nxsglobal/wear...,NaN,NaN,https://youtube.com/channel/UCvRw8OyWw09DA1ndw...,NaN,"Snow Arrives Tonight,21;Larger System Possible...","5,for the latest winter,1240;5,mobile app,1295;",NaN,<PAGE_AUTHORS>Chad Roethlisberger</PAGE_AUTHOR...
3005,20190205231500-59,20190205231500,1,wickedlocal.com,https://stoneham.wickedlocal.com/news/20190205...,NaN,NaN,LEADER;TAX_FNCACT;TAX_FNCACT_LAWMAKERS;USPEC_P...,"GENERAL_GOVERNMENT,2704;EPU_POLICY_GOVERNMENT,...","3#Boston, Massachusetts, United States#US#USMA...",...,"wc:450,c1.2:4,c12.1:33,c12.10:35,c12.12:10,c12...",https://stoneham.wickedlocal.com/storyimage/WL...,NaN,NaN,NaN,1722|25||strong local media market,"Massachusetts Municipal,170;Lori Ehrlich,430;M...","555,markets,1742;37,states,1753;9,dailies,1768...",NaN,<PAGE_AUTHORS>Katie Lannanswampscott@wickedloc...
3006,20190205231500-60,20190205231500,1,foxrochester.com,https://foxrochester.com/news/nation-world/wat...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_SPEAKER;DEMOCRACY;TAX_FN...,"TAX_FNCACT_SPEAKER,45;TAX_FNCACT_WOMEN,92;TAX_...","3#Washington, Washington, United States#US#USD...",...,"wc:46,c12.1:1,c12.10:4,c12.12:1,c12.14:3,c12.3...",http://static-20.sinclairstoryline.com/resourc...,NaN,NaN,NaN,NaN,"Speaker Nancy Pelosi,39;Democratic Women,75;Wo...",NaN,NaN,<PAGE_AUTHORS>Sinclair Broadcast Group</PAGE_A...
3007,20190205231500-61,20190205231500,1,joker.com,https://joker.com/?mode=order&do_next=landingp...,NaN,NaN,EPU_ECONOMY_HISTORIC;TAX_FNCACT;TAX_FNCACT_REG...,"TAX_FNCACT_REGISTRAR,66;EPU_ECONOMY_HISTORIC,4...",NaN,...,"wc:36,c12.1:6,c12.10:1,c12.14:1,c12.3:3,c12.4:...",NaN,NaN,NaN,NaN,NaN,"About Joker,13",NaN,NaN,NaN

In [10]:
df_gkg.to_csv("/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/data/df_gkg_with_headers.csv")

In [17]:
dir_data = '/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/data'
type='gkg'
df_gkg.to_csv(dir_data+f'/df_{type}_with_headers_test.csv')

In [ ]:
4#Wellington, New Zealand (General), New Zealand#NZ#NZ00#-41.3#174.783#-1521348;1#New Zealand#NZ#NZ#-41#174#NZ;1#Malaysia#NZ#MY#2.5#112.5#MY;4#Brooklyn, New Zealand (General), New Zealand#NZ#NZ00#...

In [3]:

df_mentions = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT.nosync/data/raw/headers_20210101011500.mentions.csv')
print(df_mentions.info())
df_mentions.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2487 entries, 0 to 2486
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 2487 non-null   int64
 1   GlobalEventID              2487 non-null   int64
 2   EventTimeDate              2487 non-null   int64
 3   MentionTimeDate            2487 non-null   int64
 4   MentionType                2487 non-null   int64
 5   MentionSourceName          2487 non-null   object
 6   MentionIdentifier          2487 non-null   object
 7   SentenceID                 2487 non-null   int64
 8   Actor1CharOffset           2487 non-null   int64
 9   Actor2CharOffset           2487 non-null   int64
 10  ActionCharOffset           2487 non-null   int64
 11  InRawText                  2487 non-null   int64
 12  Confidence                 2487 non-null   int64
 13  MentionDocLen              2487 non-null   int64
 14  MentionDocTone             2487 non-null   float64
 15  MentionDocTranslationInfo  0 non-null      float64
 16  Extras                     0 non-null      float64
dtypes: float64(3), int64(12), object(2)
memory usage: 330.4+ KB
None

,Unnamed: 0,GlobalEventID,EventTimeDate,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,SentenceID,Actor1CharOffset,Actor2CharOffset,ActionCharOffset,InRawText,Confidence,MentionDocLen,MentionDocTone,MentionDocTranslationInfo,Extras
0,0,962228955,20210101011500,20210101011500,1,caledonianrecord.com,https://www.caledonianrecord.com/news/regional...,9,1518,1556,1534,1,70,1897,-8.360129,NaN,NaN
1,1,962228956,20210101011500,20210101011500,1,caledonianrecord.com,https://www.caledonianrecord.com/news/regional...,9,1562,1600,1579,0,10,1897,-8.360129,NaN,NaN
2,2,962228957,20210101011500,20210101011500,1,caledonianrecord.com,https://www.caledonianrecord.com/news/regional...,9,1455,1615,1594,0,10,1897,-8.360129,NaN,NaN
3,3,962228958,20210101011500,20210101011500,1,caledonianrecord.com,https://www.caledonianrecord.com/news/regional...,9,1440,1600,1579,0,10,1897,-8.360129,NaN,NaN
4,4,962228959,20210101011500,20210101011500,1,zimbabwesituation.com,https://www.zimbabwesituation.com/news/opposit...,10,4030,-1,4035,0,60,7651,-3.861308,NaN,NaN

In [30]:
type(df_mentions['GlobalEventID'][0])

numpy.int64

In [24]:
df_mentions_trans = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT.nosync/data/raw/headers_20210101124500.mentions.csv')
print(df_mentions_trans.info())
df_mentions_trans.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2292 entries, 0 to 2291
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 2292 non-null   int64
 1   GlobalEventID              2292 non-null   int64
 2   EventTimeDate              2292 non-null   int64
 3   MentionTimeDate            2292 non-null   int64
 4   MentionType                2292 non-null   int64
 5   MentionSourceName          2292 non-null   object
 6   MentionIdentifier          2292 non-null   object
 7   SentenceID                 2292 non-null   int64
 8   Actor1CharOffset           2292 non-null   int64
 9   Actor2CharOffset           2292 non-null   int64
 10  ActionCharOffset           2292 non-null   int64
 11  InRawText                  2292 non-null   int64
 12  Confidence                 2292 non-null   int64
 13  MentionDocLen              2292 non-null   int64
 14  MentionDocTone             2292 non-null   float64
 15  MentionDocTranslationInfo  0 non-null      float64
 16  Extras                     0 non-null      float64
dtypes: float64(3), int64(12), object(2)
memory usage: 304.5+ KB
None

,Unnamed: 0,GlobalEventID,EventTimeDate,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,SentenceID,Actor1CharOffset,Actor2CharOffset,ActionCharOffset,InRawText,Confidence,MentionDocLen,MentionDocTone,MentionDocTranslationInfo,Extras
0,0,962276371,20210101124500,20210101124500,1,gazettelive.co.uk,https://www.gazettelive.co.uk/news/teesside-ne...,4,2119,-1,2190,1,50,4134,1.538462,NaN,NaN
1,1,962258788,20210101083000,20210101124500,1,elpasoinc.com,http://www.elpasoinc.com/news/ap_wire/internat...,11,3539,-1,3634,1,100,4588,-0.928382,NaN,NaN
2,2,962251982,20210101064500,20210101124500,1,997wtn.com,https://www.997wtn.com/news/kim-jong-un-doesnt...,10,3327,-1,3366,0,40,4327,-0.711238,NaN,NaN
3,3,962241156,20210101034500,20210101124500,1,kbia.org,https://www.kbia.org/post/minneapolis-police-o...,15,3166,-1,3180,0,40,4138,-5.500705,NaN,NaN
4,4,962241157,20210101034500,20210101124500,1,kbia.org,https://www.kbia.org/post/minneapolis-police-o...,15,3166,-1,3223,0,40,4138,-5.500705,NaN,NaN

In [12]:
df_mentions_trans.columns

Index(['Unnamed: 0', 'GlobalEventID', 'EventTimeDate', 'MentionTimeDate',
       'MentionType', 'MentionSourceName', 'MentionIdentifier', 'SentenceID',
       'Actor1CharOffset', 'Actor2CharOffset', 'ActionCharOffset', 'InRawText',
       'Confidence', 'MentionDocLen', 'MentionDocTone',
       'MentionDocTranslationInfo', 'Extras'],
      dtype='object')