In [1]:
import pandas as pd
import zipfile
import shutil
import wget

In [ ]:
df = pd.read_csv('http://data.gdeltproject.org/gdeltv2/masterfilelist.txt', delimiter=' ', header=None)

In [ ]:
df_multil = pd.read_csv('http://data.gdeltproject.org/gdeltv2/masterfilelist-translation.txt', delimiter=' ', header=None)

In [6]:
extr_dir = '/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/explo/dorian/data'

In [6]:
df

,0,1,2
0,150383,297a16b493de7cf6ca809a7cc31d0b93,http://data.gdeltproject.org/gdeltv2/201502182...
1,318084,bb27f78ba45f69a17ea6ed7755e9f8ff,http://data.gdeltproject.org/gdeltv2/201502182...
2,10768507,ea8dde0beb0ba98810a92db068c0ce99,http://data.gdeltproject.org/gdeltv2/201502182...
3,149211,2a91041d7e72b0fc6a629e2ff867b240,http://data.gdeltproject.org/gdeltv2/201502182...
4,339037,dec3f427076b716a8112b9086c342523,http://data.gdeltproject.org/gdeltv2/201502182...
...,...,...,...
814765,76921,de39e45053d672c57797a840560a448a,http://data.gdeltproject.org/gdeltv2/202301131...
814766,4546104,1eb4972bca285c939c2ae281c009d1c8,http://data.gdeltproject.org/gdeltv2/202301131...
814767,71916,162d09f25a2a358865b0e20ad1b0952a,http://data.gdeltproject.org/gdeltv2/202301131...
814768,99075,1ca636e8d6e47f2394a974d6652a56b3,http://data.gdeltproject.org/gdeltv2/202301131...
814769,4271810,07510cd8f90bdb7a94267976c7a95774,http://data.gdeltproject.org/gdeltv2/202301131...

In [7]:
data = wget.download(df[2][0])
shutil.unpack_archive(data, extr_dir)

In [11]:
with zipfile.ZipFile(data,"r") as zip_ref:
    zip_ref.extractall(extr_dir)

In [13]:
sample = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/explo/dorian/data/20150218230000.export.CSV', delimiter="\t", )

In [14]:
sample

,410412347,20140218,201402,2014,2014.1315,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,4.1,"Waterkloof, Free State, South Africa.1",SF.1,SF03.1,77359.1,-30.3098.1,25.2971.1,-1299321.1,20150218230000,http://www.dailymaverick.co.za/article/2015-02-19-sona2015-jamming-state-security-agency-steps-forward-blames-low-ranking-operator/
0,410412348,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.5833,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
1,410412349,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,4,"Great Southern, Victoria, Australia",AS,AS07,5387,-36.0667,146.4830,-1576477,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
2,410412350,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
3,410412351,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,2,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,20150218230000,http://www.eastidahonews.com/2015/02/neil-patr...
4,410412352,20140218,201402,2014,2014.1315,AUS,AUSTRALIA,AUS,NaN,NaN,...,4,"Brisbane, Queensland, Australia",AS,AS04,154654,-27.5000,153.0170,-1561728,20150218230000,http://www.businessspectator.com.au/article/20...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,410414613,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2266,410414614,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2267,410414615,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2268,410414616,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2269,410414617,20150218,201502,2015,2015.1315,tib,TIBETAN,NaN,NaN,tib,...,4,"Amdo, Xizang, China",CH,CH14,13213,32.3333,91.6667,-1920650,20150218230000,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...

In [15]:
list_header= ['BALEVENTID','SQLDATE',	'MonthYear',	'Year',	'FractionDate',	'Actor1Code',	'Actor1Name',	'Actor1CountryCode',	'Actor1KnownGroupCode',	'Actor1EthnicCode',	'Actor1Religion1Code',	'Actor1Religion2Code',	'Actor1Type1Code',	'Actor1Type2Code',	'Actor1Type3Code',	'Actor2Code',	'Actor2Name',	'Actor2CountryCode',	'Actor2KnownGroupCode',	'Actor2EthnicCode',	'Actor2Religion1Code',	'Actor2Religion2Code',	'Actor2Type1Code',	'Actor2Type2Code',	'Actor2Type3Code',	'IsRootEvent',	'EventCode',	'EventBaseCode',	'EventRootCode',	'QuadClass',	'GoldsteinScale',	'NumMentions',	'NumSources',	'NumArticles',	'AvgTone',	'Actor1Geo_Type',	'Actor1Geo_FullName',	'Actor1Geo_CountryCode',	'Actor1Geo_ADM1Code',	'Actor1Geo_ADM2Code',	'Actor1Geo_Lat',	'Actor1Geo_Long',	'Actor1Geo_FeatureID',	'Actor2Geo_Type',	'Actor2Geo_FullName',	'Actor2Geo_CountryCode',	'Actor2Geo_ADM1Code',	'Actor2Geo_ADM2Code',	'Actor2Geo_Lat',	'Actor2Geo_Long',	'Actor2Geo_FeatureID',	'ActionGeo_Type',	'ActionGeo_FullName',	'ActionGeo_CountryCode',	'ActionGeo_ADM1Code',	'ActionGeo_ADM2Code',	'ActionGeo_Lat',	'ActionGeo_Long',	'ActionGeo_FeatureID',	'DATEADDED',	'SOURCEURL']

In [17]:
sample = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/explo/dorian/data/20150218230000.export.CSV', delimiter="\t", header=None)

In [18]:
sample.columns=list_header

In [19]:
sample

,BALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,410412347,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,4,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,20150218230000,http://www.dailymaverick.co.za/article/2015-02...
1,410412348,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.5833,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
2,410412349,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,4,"Great Southern, Victoria, Australia",AS,AS07,5387,-36.0667,146.4830,-1576477,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
3,410412350,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
4,410412351,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,...,2,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,20150218230000,http://www.eastidahonews.com/2015/02/neil-patr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266,410414613,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2267,410414614,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2268,410414615,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2269,410414616,20150218,201502,2015,2015.1315,ran,RANA,NaN,NaN,ran,...,4,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,20150218230000,http://www.dailytimes.com.pk/national/19-Feb-2...
2270,410414617,20150218,201502,2015,2015.1315,tib,TIBETAN,NaN,NaN,tib,...,4,"Amdo, Xizang, China",CH,CH14,13213,32.3333,91.6667,-1920650,20150218230000,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...

In [ ]:
sample_multil = pd.read_csv('/Users/dorianfitton/Documents/Cours_Télécom/NoSQL_project_GDELT/explo/dorian/data/20150218230000.export.CSV', delimiter="\t", header=None)